._*
*_cache 
.Rproj.user
.vscode
.gitignore
Analysis Study/Data/Raw Qualtrics Data/
Analysis Study/Data/preprocessing codes.R
Analysis Study/Analysis/%
Analysis Study/Analysis/tables/
Analysis Study/Analysis/scr/
*.Rhistory